{:deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  ring/ring-core {:mvn/version "1.6.3"}
  ring/ring-jetty-adapter {:mvn/version "1.6.3"}
  }

 :aliases
 {
  :uberjar
  {:extra-deps
   {pack/pack.alpha
    {:git/url "https://github.com/juxt/pack.alpha.git"
     :sha     "e6d0691c5f58135e1ef6fb1c9dda563611d36205"}}
   :main-opts ["-m" "mach.pack.alpha.capsule" "deps.edn" "dist/hey.jar" "src" "hey" "0.0.1"]}
  }}
